.outer {
  display: grid;
  grid-template: 1fr / 1fr;
  border-style: solid;
  height: 300px;
  width: 300px;
}
.outer > * {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}
.outer .back {
  z-index: 1;
}
.outer .front {
  z-index: 2;
}
